html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

input[type="button"] {
  width: 75px;
  height: 75px;
  border: 5px solid #222222;
}

#el1 {
  background-color: #9CC77C;
  position: relative;
  left: 104px;
}

#el2 {
  background-color: #F7B2CA;
  
}
